.evidence {
    padding-top: 133px;
    padding-bottom: 131px;
    display: grid;
    grid: auto-flow / 250px 250px 250px;
    gap: 92px;
    margin: 0 auto;
    justify-content: center;
}
.evidence__title {
    text-align: center;
    color: #7050E5;
}
.evidence__text {
    line-height: 18px;
    text-align: center;
    color: #7050E5;
    margin-top: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
@media screen and (max-width: 1086px) {
    .evidence {
        padding-top: 80px;
        padding-bottom: 100px;
        grid: auto auto auto / 207px;
        gap: 68px;
    }
    .evidence__title {
        font-size: 42px;
        line-height: 50px;
    }
    .evidence__text {
        font-size: 13px;
        line-height: 16px;
    }
}