@import url(../fonts/ProximaNova/stylesheet.css);
@import url(../fonts/Raleway/raleway.css);

body, div, h1, h2, h3, p, a, ul, li, header, button  {
  margin: 0;
  padding: 0;
}
a:hover {
  opacity: 0.5;
  cursor: pointer;
}
button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.header1 {
  font-family: 'Proxima Nova Th';
  font-weight: 700;
  font-size: 55px;
  line-height: 55px;
}
.header2 {
  font-family: 'Proxima Nova Th';
  font-weight: 700;
  font-size: 60px;
  line-height: 68px;
}
.header3 {
  font-family: 'Proxima Nova Th';
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
}
.title4 {
  color: #7050E5;
  font-family: 'Proxima Nova Rg';
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.link {
  color: #FFF;
  text-decoration: none;
  font-family: 'Proxima Nova Lt';
  font-size: 14px;
  line-height: 20px;
}
.text1 {
  color: #FFF;
  font-family: 'Proxima Nova Lt';
  font-size: 16px;
  line-height: 30px;
}
.text2 {
  font-family: 'Proxima Nova Rg';
  color: #878787;
  font-size: 15px;
  line-height: 19px;
}
.text_button {
  font-family: 'Proxima Nova Th';
  font-weight: 700;
  font-size: 14px;
  line-height: 45px;
  color: #FFF;
}